td, th {
	vertical-align: middle !important;
	text-align: center !important;
}

/* Search Bar
margin of 20px on T/B; 0px on L/R */
.input-group {
	margin: 20px 0px;
}

/*
.hourly {
	height: 16px;
	overflow-y: auto;
}

.detailForecast {
	height: 16px;
}
*/

/* styling needed for Google maps */
td:first-of-type, td:first-of-type > div {
	height: 200px;
	width: 250px;
}

